TELEGRAM_BOT_TOKEN=your_telegram_bot_token
GROQ_API_KEY=your_GROQ_API_KEY
NEXT_PUBLIC_PRIVY_APP_ID=your_privy_app_id
PRIVY_APP_SECRET=your_privy_app_secret
ZERION_API_KEY=your_zerion_api_key
DATABASE_URL=postgresql+asyncpg://user:pass@host:6543/dbname
ALEMBIC_DATABASE_URL=postgresql://user:pass@host:5432/dbname
